flask==3.0.3
flask-apscheduler==1.13.1
flask-cors==5.0.0
ibm-cloud-sdk-core==3.20.6
ibm-platform-services==0.56.0
openqasm3==0.5.0
qiskit==1.2.0
qiskit-aer==0.15.0
qiskit-algorithms==0.3.0
qiskit-ibm-runtime==0.28.0
qiskit-machine-learning==0.7.2
qiskit-optimization==0.6.1
qiskit-qasm3-import==0.5.0
scikit-learn==1.5.2
matplotlib==3.9.2
notebook==7.2.2
numpy==1.26.4
pandas==2.2.2
scipy==1.13.1



